# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Xcode
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/Podfile.lock
ios/DerivedData/
ios/.xcode.env.local
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.hmap
*.ipa

# Metro
.metro-health-check*

# Testing
/coverage
.nyc_output/

# Bundler artifacts
*.jsbundle
ios/main.jsbundle

# IDE
.idea/
.vscode/
*.iml

# Environment
.env
.env.local

# Logs
*.log
